<nav class="custom-nav">
  <div class="cont-brand">
    <img src="../../../assets/img/common/logo_3phasic_dark.svg">
  </div>
  <div class="cont-toggle-btn">
    <button (click)="toggleNavbar()" [ngClass]="toggleBtnClass()" class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div *ngIf="isToggled" class="cont-content">
    <div class="slogan">
      Trascendemos<br>
      tus necesidades
    </div>
    <div class="cont-list">
      <ul>
        <li>
            <span class="anteitem">Origins, values and destiny</span><br>
            <span class="item">About us</span>
        </li>
        <li>
            <span class="anteitem">technical expertise areas</span><br>
            <span class="item">Services</span>
        </li>
        <li>
            <span class="anteitem">Examples about our previous work</span><br>
            <span class="item">Study Cases</span>
        </li>
        <li>
            <span class="anteitem">Our coordinates</span><br>
            <span class="item">Contact</span>
        </li>
      </ul>
    </div>
    <div>
      Social Icons
    </div>
  </div>
</nav>
