<div class="cont-main">

  <div class="cont-top-image">
    <div></div>
    
    <div class="cont-slogan">
      <span class="custom-text-bold">{{ 'home.slogan_item_1' | translate }}</span><br>
      <span class="custom-text-light">{{ 'home.slogan_item_2' | translate }}</span><br>
      <span class="custom-text-bold">&nbsp;{{ 'home.slogan_item_3' | translate }}</span>
      
    </div>

  </div>

  <div class="cont-top-text">
      <p>{{ 'home.top_text_1' | translate }}</p>
      <p>{{ 'home.top_text_2' | translate }}</p>
      <button class="button button1">{{ 'home.about_us_button' | translate }}</button>
  </div>

  <div class="cont-divisor-1">
    <h3>{{ 'home.divisor1_text1' | translate }}</h3>
    <h3>{{ 'home.divisor1_text2' | translate }}</h3>
  </div>

  <div class="cont-services container-fluid">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-3 service-item">
        <img src="../../../assets/img/home/industry_logo.svg">
        <h3>{{ 'home.industry_title' | translate }}</h3>
        <p>{{ 'home.industry_text' | translate }}</p>
        <hr class="d-md-none">
      </div>

      <div class="col-12 col-md-6 col-lg-3 service-item">
        <img src="../../../assets/img/home/electricity_logo.svg">
        <h3>{{ 'home.electricity_title' | translate }}</h3>
        <p>{{ 'home.electricity_text' | translate }}</p>
        <hr class="d-md-none">
      </div>

      <div class="col-12 col-md-6 col-lg-3 service-item">
        <img src="../../../assets/img/home/energy_logo.svg">
        <h3>{{ 'home.energy_title' | translate }}</h3>
        <p>{{ 'home.energy_text' | translate }}</p>
        <hr class="d-md-none">
      </div>

      <div class="col-12 col-md-6 col-lg-3 service-item">
        <img src="../../../assets/img/home/platform_logo.svg">
        <h3>{{ 'home.platform_title' | translate }}</h3>
        <p>{{ 'home.platform_text' | translate }}</p>
      </div>

    </div>
    
  </div>

  <div class="cont-trust">
    <h3>{{ 'home.trust_title' | translate }}</h3>
    <p>{{ 'home.trust_text1' | translate }}</p>
    <p>{{ 'home.trust_text2' | translate }}</p>
    <button class="button button1">{{ 'home.trust_button' | translate }}</button>
  </div>

  <div class="cont-contactus">
    <h4>{{ 'home.contactus_title' | translate }}</h4>
    <button class="button button1">{{ 'home.contactus_button' | translate }}</button>
  </div>

  <div class="cont-footer">
    <div class="group">
      <h4>{{ 'footer.about_us' | translate }}</h4>
      <ul>
        <li>{{ 'footer.origins' | translate }}</li>
        <li>{{ 'footer.values' | translate }}</li>
        <li>{{ 'footer.destiny' | translate }}</li>
        <li>{{ 'footer.team' | translate }}</li>
        <li>{{ 'footer.use_cases' | translate }}</li>
      </ul>
    </div>
    <div class="group">
      <h4>{{ 'footer.services' | translate }}</h4>
      <ul>
        <li>{{ 'footer.industry' | translate }}</li>
        <li>{{ 'footer.electricity' | translate }}</li>
        <li>{{ 'footer.autogeneration' | translate }}</li>
        <li>{{ 'footer.platforms' | translate }}</li>
      </ul>
    </div>
    <div class="group">
      <h4>{{ 'footer.contact' | translate }}</h4>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Linkedin</li>
        <li>WhatsApp</li>
        <li>Email</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <img class="footer-logo" src="../../../assets/img/common/logo_3phasic_white.svg">
    <h6>3phasic Solutions, C.A.  -  J-40855915-3</h6>
  </div>

</div>