<div class="cont-main">
  
  <div class="cont-top-image">
    <div></div>
    
    <div class="cont-slogan">
      <span class="custom-text-bold">{{ 'home.slogan_item_1' | translate }}</span><br>
      <span class="custom-text-light">{{ 'home.slogan_item_2' | translate }}</span><br>
      <span class="custom-text-bold">&nbsp;{{ 'home.slogan_item_3' | translate }}</span>
    </div>

  </div>

  <div class="cont-top-text">
      <p>{{ 'home.top_text_1' | translate }}</p>
      <p>{{ 'home.top_text_2' | translate }}</p>
  </div>

</div>
