<div class="cont-main">

  <div class="cont-top-image">
    <div></div>
    
    <div class="cont-slogan">
      <span class="custom-text-bold">{{ 'home.slogan_item_1' | translate }}</span><br>
      <span class="custom-text-light">{{ 'home.slogan_item_2' | translate }}</span><br>
      <span class="custom-text-bold">&nbsp;{{ 'home.slogan_item_3' | translate }}</span>
    </div>

  </div>

  <div class="cont-top-text">
      <p>{{ 'home.top_text_1' | translate }}</p>
      <p>{{ 'home.top_text_2' | translate }}</p>
  </div>

  <div class="cont-services container-fluid">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-3 service-item">
        <img src="../../../assets/img/home/industry_logo.svg">
        <h3>{{ 'home.industry_title' | translate }}</h3>
        <p>{{ 'home.industry_text' | translate }}</p>
        <hr class="d-md-none">
      </div>

      <div class="col-12 col-md-6 col-lg-3 service-item">
        <img src="../../../assets/img/home/electricity_logo.svg">
        <h3>{{ 'home.electricity_title' | translate }}</h3>
        <p>{{ 'home.electricity_text' | translate }}</p>
        <hr class="d-md-none">
      </div>

      <div class="col-12 col-md-6 col-lg-3 service-item">
        <img src="../../../assets/img/home/energy_logo.svg">
        <h3>{{ 'home.energy_title' | translate }}</h3>
        <p>{{ 'home.energy_text' | translate }}</p>
        <hr class="d-md-none">
      </div>

      <div class="col-12 col-md-6 col-lg-3 service-item">
        <img src="../../../assets/img/home/platform_logo.svg">
        <h3>{{ 'home.platform_title' | translate }}</h3>
        <p>{{ 'home.platform_text' | translate }}</p>
      </div>

    </div>
    
  </div>

</div>